<%- include('../_partial/_header'); -%>

<center><h4> ---------------------------------------------------------------------------------- </h4></center>
<center><h1> THIS IS A TEST PAGE FOR WHAT THE BEGINNING OF THE BOOKING PAGE WILL LOOK LIKE! </h1></center>
<center><h4> ---------------------------------------------------------------------------------- </h4></center>

<%- include ('../_partial/_footer'); -%>