<%- include('../_partial/_header'); -%>

<br>
<br>
<br>
<center><h1> Profile </h1></center>
<br>
<br>
<br>

<center><div class="container" id="current-res-banner">
    <span id="banner-title"> 
        <h5>
           Current Reservation
        </h5>         
    </span>
    <h4 id="current-res-text">Study Room A | March 16, 2021 | 6:45pm - 8:45pm</h4>
</div></center>

<%- include ('../_partial/_footer'); -%>