<%- include('../_partial/_header'); -%>
<!-- Load customized css -->
<link rel="stylesheet" href="stylesheets/about.css"> 


<div class="container" id="res-floor-plan-info">
    <div id="floor-plan-info">
        <h4>
            Floor Plan
        </h4>
        <div id="room-image">
                <img id="room-A" src="images/floorplan.png"  >    
        </div>

        <div id="avail-prompt">
            <a id ="avail-btn" href="/book">Start Booking!</a>
        </div>
    </div>
    
    <div id="room-info">
        <div id="single-room-info">
            <h5>Room A - Individual Study Room</h5>
            <div id="room-image">
                <img id="room-A" src="https://live.staticflickr.com/4006/4417500336_55d33742b5_b.jpg"  >    
            </div>
        </div>
        <div id="single-room-info">
            <h5>Room B - Group Study Room</h5>
            <div id="room-image">
                    <img id="room-A" src="https://live.staticflickr.com/2748/4416736941_3dcc15b98f_b.jpg"  >    
            </div>
        </div>
        

    </div>

    

</div>

<%- include ('../_partial/_footer'); -%>